---
import Chart from "./Chart"

---
<!-- <div>
	<button onclick="window.update(orders.ascending)">Sort Ascending</button>
	<button onclick="window.update(orders.descending)">Sort Descending</button>
</div> -->
<Chart client:load="solid-js"></Chart>
<button class="btn btn-primary w-10 h-10">Prova</button>
<script> import './chart' </script>
